<?xml version="1.0"?>
<model>
  <name>x500_bombard</name>
  <version>1.0</version>
  <sdf version="1.9">x500_bombard.sdf</sdf>
  <author>
    <name>Master</name>
    <email>master@drone.com</email>
  </author>
  <description>
    x500 drone with a downward-facing camera for the bombard system.
  </description>
</model>