<?xml version="1.0"?>
<model>
  <name>iris</name>
  <version>1.0</version>
  <sdf version='1.6'>iris.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler (Modified)</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    Iris Quadrotor with Payload and Downward Camera.
  </description>
</model>