<?xml version="1.0"?>
<model>
  <name>X Marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Vision Detection System</name>
    <email>root@todo.todo</email>
  </author>

  <description>
    A ground marker with X pattern for drone vision detection.
  </description>
</model>
